
@using Sitecore.Mvc
@using Sitecore.Web;

<head>
</head>
<body>




    <div>
        @Html.Sitecore().Placeholder("head")
    </div>

    <div>
        @Html.Sitecore().Placeholder("Navbar")
    </div>

    <div>
        @Html.Sitecore().Placeholder("Carousel-Key")
    </div>
    <br/>

    <br/>

    <div>
        @Html.Sitecore().Placeholder("IHeadline")
    </div>


    <div>
        @Html.Sitecore().Placeholder("Foot")
    </div>

</body>